<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.knowledge.mapper.KnowledgePointMapper">
    <resultMap id="BaseResultMap" type="KnowledgePoint">
        <result column="parent_id" property="parentId"/>
        <result column="grade_level" property="gradeLevel"/>
        <result column="sort_order" property="sortOrder"/>
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">SELECT * FROM knowledge_points WHERE id=#{id}</select>
    <select id="selectByParentId" resultMap="BaseResultMap">SELECT * FROM knowledge_points WHERE parent_id=#{parentId} ORDER BY sort_order, id</select>
    <select id="selectAll" resultMap="BaseResultMap">SELECT * FROM knowledge_points ORDER BY parent_id, sort_order, id</select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">INSERT INTO knowledge_points (name, parent_id, grade_level, description, sort_order) VALUES (#{name}, #{parentId}, #{gradeLevel}, #{description}, #{sortOrder})</insert>
    <update id="update">UPDATE knowledge_points SET name=#{name}, grade_level=#{gradeLevel}, description=#{description}, sort_order=#{sortOrder} WHERE id=#{id}</update>
    <delete id="delete">DELETE FROM knowledge_points WHERE id=#{id}</delete>
    <select id="selectKpIdsByQuestionId" resultType="int">SELECT kp_id FROM question_kp WHERE question_id=#{questionId}</select>
    <select id="selectKpIdsByQuestionIds" resultType="map">
        SELECT question_id, kp_id FROM question_kp WHERE question_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>
</mapper>
