<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.knowledge.mapper.QuestionKpMapper">
    <insert id="insert">INSERT INTO question_kp (question_id, kp_id) VALUES (#{questionId}, #{kpId})</insert>
    <insert id="insertBatch">
        INSERT INTO question_kp (question_id, kp_id) VALUES
        <foreach collection="kpIds" item="kpId" separator=",">(#{questionId}, #{kpId})</foreach>
    </insert>
    <delete id="deleteByQuestionId">DELETE FROM question_kp WHERE question_id=#{questionId}</delete>
</mapper>
